.home {
  position: relative;
}

.header {
  padding: 15px 30px;
}

@media screen and (max-width: 768px) {
  .background-image-banner {
    width: 100vw;
  }

  .section-1 {
    padding: 24px 40px 74px 40px;
  }

  .section-2 {
    padding: 56px 15px 28px 15px;
    background-color: #F8F8F8;
  }

  .section-2-image {
    width: 100%;
  }

  .section-3 {
    padding: 35px 21px 47px 21px;
    background-color: #509FDD;
  }

  .swiper-container {
    width: calc(100vw - 110px);
  }

  .section-4 {
    background-image: url('../assets/images/background-footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34px 24px;
  }

  .custom-select-option-container {
    margin-bottom: 40px;
  }

  .custom-select-option {
    width: 100%;
    padding: 8px 17px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
  }

  .address-container {
    padding: 26px 27px 47px 27px;
    background-color: #fff;
  }

  .address-location {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #25A0D8;
    width: 70%;
  }
  
}

@media screen and (min-width: 769px) {
  .background-image-banner {
    width: calc(100vw - 17px);
  }

  .section-1 {
    padding: 40px;
    text-align: center;
  }

  .section-2 {
    padding: 72px;
    background-color: #F8F8F8;
  }

  .section-3 {
    padding: 72px;
    background-color: #509FDD;
  }

  .swiper-container {
    width: calc(100vw - 230px);
  }

  .section-4 {
    background-image: url('../assets/images/background-footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px;
  }

  .custom-select-option {
    padding: 8px 17px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
  }

  .address-container {
    padding: 26px 27px 47px 27px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .address-location {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #25A0D8;
    text-align: end;
  }
  
}

.scroll-arrow {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
}

.section-1-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #029FE4;
}

.section-1-sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: #000000;
}

.section-1-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #777777;
}

.arrow-pagination-icon {
  cursor: pointer;
}

.section-1-pagination {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #303030;
}

.section-1-pagination-active {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #B6B6B6;
}

.core-values-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #029FE4;
  margin-bottom: 24px;
}

.core-values-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #777777;
  margin-bottom: 34px;
}

.core-values-list-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
}

.core-values-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.core-values ul {
  list-style: url("../../src/assets/icons/list-custom.svg");
}

.our-speciality {
  padding: 42px 34px 55px 34px;
  background-color: #fff;
}

.our-speciality-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #029FE4;
}

.our-speciality-sub-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
}

.swiper {
  padding-bottom: 40px !important;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none !important;
}

.our-speciality-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #303030;
}

.our-speciality-list-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #A7A7A7;
}

.footer-menu-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #FFFFFF;
}